[Unit] 
Description=Risebox Brain 
After=syslog.target
OnFailure=risebox-brain-recovery.service

[Service] 
Type=simple
User=root
WorkingDirectory=/home/risebox/risebox-brain
ExecStart=/home/risebox/risebox-brain/risebox-brain.sh 
Restart=always

[Install] 
WantedBy=multi-user.target
